<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Post System</title>
    <link rel="stylesheet" href="../../static/plugins/bootstrap.css">
    <link rel="stylesheet" href="../../static/style.css">

    <script src="../../static/plugins/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/plugins/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Jquery serializejson -->
    <script src="../../static/plugins/jquery-serializeJSON/jquery.serializejson.min.js" type="text/javascript"
        charset="utf-8"></script>
    <script src="../../static/script.js" type="text/javascript" charset="utf-8"></script>
</head>

<body id="post">
    <div class="post">
        <!-- header-area -->
        <div class="post-header container-fluid">
            <div class="container">
                <div class="row">
                    <!-- username -->
                    <div class="col-xs-6 text-left">
                        <label>
                            Hi,
                            siang
                        </label>
                    </div>
                    <!-- sign out -->
                    <div class="col-xs-6 text-right">
                        <!-- use struts form -->
                        <form action="/logout" method="post" class="form-horizontal">
                            <input type="submit" class="btn" value="Sign out" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-area -->
        <div class="post-body container">
            <!-- main-content -->
            <div class="post-content row">
                <div id="post_2" class="widget-body collapsebutton my_post" data-id="2">
                    <div class="widget-header row">
                        <div class="header-name col-xs-4 text-left">
                            <label>
                                siang
                            </label>
                        </div>
                        <div class="header-time col-xs-8 text-right">
                            <span>post Jun 12 '16 at 8:35</span>
                            <span>,</span>
                            <span>edited Jun 12 '16 at 8:35</span>
                        </div>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal enabled">
                            <!-- <form class="form-horizontal"> -->
                            <input type="hidden" name="post.username" value="siang">
                            <input type="text" name="post.content" id="user_content" class="form-control"
                                value="text text text text." disabled="disabled">
                            <input type="hidden" name="post.create_date" value="1996-09-30">
                        </form>
                    </div>
                    <div class="collapse" data-in="in" data-id="2">
                        <hr>
                        <div class="widget-footer text-right">
                            <button id="update" class="btn btn-primary" data-id="2">Save</button>
                            <button id="edit" class="btn btn-info" data-id="2">Edit</button>
                            <button id="delete" class="btn btn-danger" data-id="2">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- post-form -->
            <div class="post-form">
                <div class="editor">
                    <div class="editor-content">
                        <form id="create_form" class="form-horizontal">
                            <input type="hidden" name="post.username" class="form-control" value="siang">
                            <input type="text" name="post.content" class="form-control" placeholder="text something...">
                        </form>
                    </div>
                    <div class="editor-footer text-right">
                        <button id="create" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" onclick="ajax_read()">Read</button>
            <button class="btn btn-primary" onclick="ajax_update()">Update</button>
            <button class="btn btn-primary" onclick="ajax_delete()">Delete</button>
        </div>
    </div>
    <script>
        sshUrl = "<%=basePath%>";
        // 展開 collapse("修改" 與 "刪除" 區塊) 後的行為
        $(document).on('click', '.collapsebutton', function () {
            if (!$(this).find('.in').attr("data-in")) {
                $('.widget-body>.collapse').collapse('hide') // 先關閉所有清單
                $(this).find('.collapse').collapse('show') // 再展開目標清單
            }
        })
        // 關閉 collapse 後的行為
        $('.collapsebutton').on('hidden.bs.collapse', function () {
            let post_id = $(this).attr("data-id");
            let target = '#post_' + post_id;
            $(target).find('form').addClass("enabled");
            $(target).find('#user_content').attr('disabled', true);
            $(target).find('#update').hide();
            $(target).find('#edit').show();

        })
        // 設定點擊 "edit" 後的行為
        $(document).on('click', '#edit', function () {
            let post_id = $(this).attr("data-id");
            let target = '#post_' + post_id;
            $(target).find('form').removeClass("enabled");
            $(target).find('#user_content').attr('disabled', false);
            $(target).find('#update').show();
            $(target).find('#edit').hide();
        })
        // 設定點擊 "send/create" 後的行為
        $(document).on('click', '#create', function () {
            var data = $("#create_form").serializeJSON();
            ajax_create(data);

        })
        // 設定點擊 "update/save" 後的行為
        $(document).on('click', '#update', function () {
            let post_id = $(this).attr("data-id");
            let target = '#post_' + post_id;
            var data = $(target).find("form").serializeJSON();
            ajax_update(data);

        })

        // 設定點擊 "delete" 後的行為
        $(document).on('click', '#delete', function () {
            let post_id = $(this).attr("data-id");
            let target = '#post_' + post_id;
            var data = $(target).find("form").serializeJSON();
            ajax_delete(data);

        })

        function ajax_create(data) {
            var AjaxUrl = sshUrl + 'post/create';
            $.ajax({
                type: "post",
                url: AjaxUrl,
                data: {
                    'post.username': data['post.username'],
                    'post.content': data['post.content']
                },
                success: function (response) {
                    console.log('create success.');
                    console.log(response);
                },
                error: function (error) {
                    alert('[create] server error.')
                }
            });
        }

        function ajax_read() {
            var AjaxUrl = sshUrl + 'post/read';
            $.ajax({
                type: "post",
                url: AjaxUrl,
                dataType: 'json',
                success: function (response) {
                    // console.log(response)
                    var content = `<div>`
                    response.forEach(e => {
                        // console.log(element)
                        content = content +
                            `<div class="row">` +
                            `<div class="col-xs-3">username</div>` +
                            `<div class"col-xs-3">` + e.username + `</div>` +
                            `<div class="col-xs-3">content</div>` +
                            `<div class"col-xs-3">` + e.content + `</div>` +
                            `</div>`

                    });
                    content = content + `</div>`
                    $('.post-content').append(content)
                },
                error: function (error) {
                    alert('[read] server error.')
                }
            });
        }

        function ajax_update(data) {
            var AjaxUrl = sshUrl + 'post/update'
            $.ajax({
                type: "post",
                url: AjaxUrl,
                data: {
                    'post.post_id': 14,
                    'post.username': 'Siang',
                    'post.content': 'update',
                    'post.create_date': '1996-09-30',
                },
                success: function (response) {
                    console.log(response)
                },
                error: function (error) {
                    alert('[update] server error.')
                }
            });
        }

        function ajax_delete() {
            var AjaxUrl = sshUrl + 'post/delete'
            $.ajax({
                type: "post",
                url: AjaxUrl,
                data: {
                    'post.post_id': 3
                },
                success: function (response) {
                    console.log(response)
                },
                error: function (error) {
                    alert('[delete] server error.')
                }
            });
        }
    </script>
</body>

</html>