body {
    &#login {
        background-image: linear-gradient(to top, #2483ff, #24a7ff);
        background-image: linear-gradient(to right, #2483ff, #24a7ff);
        background-image: linear-gradient(to bottom, #2483ff, #24a7ff);
        background-image: linear-gradient(to left, #2483ff, #24a7ff);
    }

    &#error {
        background-image: linear-gradient(to top, #2483ff, #24a7ff);
        background-image: linear-gradient(to right, #2483ff, #24a7ff);
        background-image: linear-gradient(to bottom, #2483ff, #24a7ff);
        background-image: linear-gradient(to left, #2483ff, #24a7ff);
    }
}

#login {
    .card {
        /* position */
        margin-top: 51%;
        padding: 24px 34px;
        /* style */
        // opacity: 0.99;
        border: 1px solid #f7f7f7;
        border-radius: 5px;
        background-color: #F7F7F7;

        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        .card-image {
            // image area
            margin: 28px 0px;

            img {
                width: 35%;
                margin: 0 auto;
            }
        }

        .card-form {
            .form-group {
                &>div {
                    margin: 6px 0px;

                    input {
                        font-size: 16px;
                        height: 44px;
                        padding: 10px 16px;
                    }

                    button {
                        font-weight: bold;
                        font-size: 14px;
                        // border-radius: 0px;
                        padding: 6px 12px;
                    }

                    hr {
                        margin: 5px 0px;
                        border-color: rgb(200, 200, 200);
                    }
                }
            }
        }
    }
}

#error {
    &>.container {
        // margin-top: 50%;

        h1,
        h2 {
            color: #ffffff;
        }
    }
}

#post {
    &>.post {
        &>.post-header {
            /* position */
            height: 60px;
            padding: 10px 0px;
            /* style */
            background-color: #24a7ff;

            // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            &>.container {
                &>.row {
                    &>div {
                        height: 40px;

                        &:nth-child(1) {
                            label {
                                /* position */
                                height: 40px;
                                line-height: 40px;
                                margin: 0px 0px;
                                /* style */
                                font-size: 18px;
                                color: #ffffff;
                            }
                        }

                        &:nth-child(2) {
                            input {
                                // height: 40px;
                                font-size: 18px;
                                color: #ffffff;
                                border-color: #ffffff;
                                background-color: #24a7ff;

                                &:hover {
                                    // background-color: #2483ff;
                                    color: yellow;
                                    border-color: yellow;
                                }
                            }
                        }

                    }
                }
            }
        }

        &>.post-body {
            .post-content {
                /* position */
                margin: 30px 0px;
                // padding: 10px;
                /* style */

                &>.widget-body {
                    /* position */
                    padding: 10px 0px;
                    margin-bottom: 10px;
                    /* style */
                    border: 1px solid #ccc;
                    border-radius: 5px;

                    &.collapsebutton {
                        &:hover {
                            border-color: #24a7ff;
                        }
                    }

                    hr {
                        margin: 10px 0px;
                    }

                    .widget-header {
                        padding: 5px 18px;

                        .header-name {
                            label {
                                margin: 0px 0px;
                                font-size: 20px;
                                font-weight: bold;
                                color: #585757;
                            }
                        }

                        .header-time {
                            padding: 4px 18px;

                            span {
                                color: rgb(187, 187, 187);
                            }
                        }
                    }

                    .widget-content {
                        padding: 2px 18px;

                        form {
                            &.enabled {
                                input {
                                    /* position */
                                    padding: 6px 0px;
                                    /* style */
                                    border: none;
                                    box-shadow: none;
                                    background-color: #ffffff;
                                    cursor: default;
                                }
                            }
                        }
                    }
                    .widget-file {
                        padding: 2px 18px;
                        a {
                            margin: 0px 5px;
                        }
                        span {
                            margin: 0px 5px;
                        }
                    }
                    .widget-footer {
                        padding: 0px 18px;

                        .btn {
                            // border-radius: 5px;
                            width: 80px;
                            margin-left: 10px;

                            &#update {
                                display: none;
                            }
                        }
                    }
                }
            }

            .post-form {
                margin: 40px 0px;

                .editor {
                    padding: 5px 18px;
                    border: 1px solid #ffa114;
                    border-radius: 5px;

                    .editor-content {
                        margin: 10px 0px;
                    }
                    .editor-file {
                        padding: 10px;
                        span {
                            margin-right: 10px; 
                        } 
                    }
                    .editor-footer {
                        margin: 10px 0px;

                        .btn {
                            width: 80px;
                            margin-left: 10px;

                        }
                    }
                }
            }
        }
    }
}